.about{
    width: 100%;
    height: auto;
    background: #fffefe;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    list-style-type: none;
}

.service{
    color: #e98a06;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.detail{
    width: 100%;
    height: auto;
}
.detail h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.h5{
    color: #e98a06;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ser-con{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    gap: 5%;
    margin-top: 10%;
}
